<h1>Create new recipe</h1>

<form method="POST">
  Recipe name:<br>
  <input type="text" name="recipe_name"><br>
  Recipe description: <br>
  <input type="text" name="recipe_description"><br>
  <input type="submit" value="Submit">
</form>
